
body {
	background-color: #ecf0f1;
	font-family: 'Ubuntu', sans-serif;
}

nav {
	width: 100%;
	margin: 0;
	border-bottom: 2px solid #ddd;
}

nav a {
	display: inline-block;
	padding: 0.75em 0;
	margin: 0 1.5em;
	color: #bdc3c7;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
}

h1 {
	color: #2980b9;
	font-weight: 300;
}
